body, html {
    height: 100%;
    background: "";
    font-size: 20px;
    line-height: 40px;
}

#container {
    margin: 100px 200px 100px 200px;
    /* margin-right: 200px; */
    height: 80%;
    background-color: chocolate;
}

#header {
    display: flex;
    justify-content: center;
    height: 20%;
}

#heading-Text {
    margin-top: 40px;
    font-size: 45px;
}

#button-container {
    display: flex;
    justify-content: center;
}

#butt-Start {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin-top: 150px;
}

#gameboard {
    width: 100%;
    display: block;
    justify-content: center;
    height: 80%;
}

.row {
    width: 100%;
    height: 40px;
    display: grid;
    justify-content: center;
}

#row5 {
    width: 100%;
    display: grid;
    justify-content: center;
}

label {
    padding-right: 10px;
}

input {
    visibility: hidden;
}